<!DOCTYPE html>
<html lang="en">

<head>
    <title>Delete</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>


    <div class="container">
        <form action="/action_page.php" class="was-validated">

            <div class="form-group">
                <label for="uname">User:</label>
                <input [(ngModel)]="user" type="text" class="form-control" name="uname" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <div class="form-group">
                <label for="uname">Email:</label>
                <input [(ngModel)]="email" type="text" class="form-control" name="uname" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <div class="form-group">
                <label for="uname">Password:</label>
                <input [(ngModel)]="password" type="password" class="form-control" name="uname" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <div class="form-group">
                    <label for="uname">Confirm Password:</label>
                    <input [(ngModel)]="confirmPassword" type="password" class="form-control" name="uname" required>
                    <div class="valid-feedback">Valid.</div>
                </div>

            <button type="submit" (click)="delete()" class="btn btn-primary">Eliminar</button>
            <!-- {{message}} -->

        </form>
    </div>

</body>

</html>