
    <div class="container">
        <form  class="was-validated">

            <div class="form-group">
                <label for="uname">Email:</label>
                <input [(ngModel)]="email" name="mail.user" type="text" class="form-control" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input [(ngModel)]="password" name="pass.user" type="password" class="form-control" id="pwd" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <button (click)="login()" class="btn btn-primary">Entrar</button>
                {{message}}
            
        </form>
    </div>
