
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>


    <div class="container">
        <form action="/action_page.php" class="was-validated">
            
            <div class="form-group">
                <label for="uname">Name:</label>
                <input [(ngModel)]="name" type="text" class="form-control"
                    name="uname" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <div class="form-group">
                <label for="uname">Last Name:</label>
                <input [(ngModel)]="lastName" type="text" class="form-control" name="lastName" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <div class="form-group">
                <label for="uname">User:</label>
                <input [(ngModel)]="user" type="text" class="form-control" id="uname" name="user" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <div class="form-group">
                <label for="uname">Email:</label>
                <input [(ngModel)]="email" type="text" class="form-control" name="email" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <div class="form-group">
                <label for="pwd">Password:</label>
                <input [(ngModel)]="password" type="password" class="form-control" id="pwd" name="password" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <div class="form-group">
                <label for="uname">Confirm Password:</label>
                <input [(ngModel)]="confirmPassword" type="password" class="form-control" name="confirmPassword" required>
                <div class="valid-feedback">Valid.</div>
            </div>

            <!-- <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="remember" required> I agree.
                    <div class="valid-feedback">Valid.</div>
                    <div class="invalid-feedback">Check this checkbox to continue.</div>
                </label>
            </div> -->

            <button type="submit" (click)="register()" class="btn btn-primary">Registrar</button>
                {{message}}
            
        </form>
    </div>

</body>

</html>